@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --off-sblack: hsl(0, 0%, 8%);
}

html {
  font-size: 1.2em;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: var(--white);
  background-color: var(--off-sblack);
}

.profille {
  width: 90%;
  max-width: 23rem;
  padding: 1.25rem;
  border-radius: 1rem;
  background-color: var(--dark-grey);
}

.profile__picture img {
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
  border-radius: 50%;
}

.profile__info {
  text-align: center;
}

.profile__name {
  font-size: 1.3em;
  font-weight: 800;
  margin: 1.25rem 0 0.3rem 0;
}

.profile__location {
  color: var(--green);
  font-size: 0.8em;
  font-weight: 600;
  margin: 0.3rem 0 1.25rem 0;
}

.profile__occupation {
  font-size: 0.8em;
  opacity: 0.8;
  margin-bottom: 1.25rem;
}

.profile__links {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.profile__link a {
  font-size: 0.8125rem;
  background-color: var(--grey);
  padding: 0.3125rem 0.625rem;
  border-radius: 0.4rem;
  font-weight: 700;
}

.profile__link a:hover {
  background-color: var(--green);
  color: var(--off-sblack);
}

.attribution {
  font-size: 1em;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
